files:
  "/etc/docker/daemon.json":
    mode: "000644"
    owner: root
    group: root
    content: |
      {
        "log-driver": "json-file",
        "log-opts": {
          "max-size": "10m",
          "max-file": "3"
        }
      }

commands:
  01_restart_docker:
    command: "systemctl restart docker || true"
