@font-face {
    font-family: 'MinSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'MinSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2508-1@1.0/MinSans-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'MinSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'MinSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MinSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'MinSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2508-1@1.0/MinSans-Bold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'MinSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'MinSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2508-1@1.0/MinSans-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'MinSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}

:root {
    /* Font Family */
    --typo-font-family: 'MinSans', 'Min Sans VF';

    /* Display Styles */
    --typo-display-large: 700 48px / 133.34% var(--typo-font-family);
    --typo-display-medium: 700 36px / 133.34% var(--typo-font-family);
    --typo-display-small: 700 30px / 133.34% var(--typo-font-family);

    /* Heading Styles */
    --typo-heading-large: 700 24px / 133.34% var(--typo-font-family);
    --typo-heading-medium: 700 21px / 133.34% var(--typo-font-family);
    --typo-heading-small: 700 18px / 133.34% var(--typo-font-family);

    /* Body Styles */
    --typo-body-large: 400 18px / 133.34% var(--typo-font-family);
    --typo-body-large-strong: 500 18px / 133.34% var(--typo-font-family);
    --typo-body-large-stronger: 600 18px / 133.34% var(--typo-font-family);

    --typo-body-medium: 400 15px / 133.34% var(--typo-font-family);
    --typo-body-medium-strong: 500 15px / 133.34% var(--typo-font-family);
    --typo-body-medium-stronger: 600 15px / 133.34% var(--typo-font-family);

    --typo-body-small: 400 13.5px / 133.34% var(--typo-font-family);
    --typo-body-small-strong: 500 13.5px / 133.34% var(--typo-font-family);
    --typo-body-small-stronger: 600 13.5px / 133.34% var(--typo-font-family);

    /* Caption Styles */
    --typo-caption-large: 400 13.5px / 133.34% var(--typo-font-family);
    --typo-caption-large-strong: 500 13.5px / 133.34% var(--typo-font-family);

    --typo-caption-medium: 400 12px / 133.34% var(--typo-font-family);
    --typo-caption-medium-strong: 500 12px / 133.34% var(--typo-font-family);

    --typo-caption-small: 400 10.5px / 133.34% var(--typo-font-family);
    --typo-caption-small-strong: 500 10.5px / 133.34% var(--typo-font-family);
}

html {
    font-family: var(--typo-font-family);
}